
body {
  background-color: #dddfe6;
}

//#d9e1e8

.graphs-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 20px;
}
path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

text.shadow {
    stroke: white;
    stroke-width: 2.5px;
    opacity: 0.9;
}

.graph-path {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
.date-warn {
  z-index: 9999;
  width: 600px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.warn {
  padding: 15px;
  text-align: center;
}
.modal {
  z-index: 250;
  background-color: white;
  width: 250px;
  position: absolute;
  left: calc(50% - 250px/2);
  top: 45px;
}

.overlay {
  position: absolute;
  z-index: 160;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
}

.graphs-container {
  height: 45%;
  width: 85%;
  margin: 0 auto;

}

.svg-container {
  height: 100%;
  width: 100%;
}
