
<div class="overlay" ng-show="$ctrl.state.showModal">
  <add-stock
    ng-show="$ctrl.state.showModal"
    cancel="$ctrl.cancel();"
    on-add-stock="$ctrl.addStock($event)"></add-stock>
</div>

<div class="overlay" ng-show="$ctrl.state.showDateWarning">
  <div class="modal date-warn">
    <h4 class="warn">Please provide valid date. Date from must be lower than Date to.</h4>
    <md-button ng-click="$ctrl.state.showDateWarning = false">Dismiss</md-button>
  </div>
</div>


<layout layout="column" layout-align="center center">
    <md-input-container>
    <label>Select stock</label>
    <md-select ng-change="$ctrl.onStockChange();" ng-model="$ctrl.state.selectedSymbol">
      <md-option ng-value="stock" ng-repeat="stock in $ctrl.state.stockSymbols">{{ stock }}</md-option>
    </md-select>
    </md-input-container>
    <md-button ng-click="$ctrl.showAddStock();"> Add New Stock </md-button>


  <layout layout="row" layout-align="center center">

      <md-input-container>
      <label>Date From</label>
      <md-datepicker
        md-min-date="$ctrl.state.date.minDate"
        md-max-date="$ctrl.state.date.maxDate"
        ng-model="$ctrl.state.date.from"
        ng-change="$ctrl.onDateChange();">
      </md-datepicker>
      </md-input-container>

    <md-input-container>

    <label>Date to</label>
    <md-datepicker
      md-min-date="$ctrl.state.date.minDate"
      md-max-date="$ctrl.state.date.maxDate"
      ng-model="$ctrl.state.date.to"
      ng-change="$ctrl.onDateChange();">
    </md-datepicker>

    </md-input-container>

  </layout>

  <layout max-width="100%" align>
    <md-button ng-click="$ctrl.selectTab('graph')">GRAPH</md-button>
    <md-button ng-click="$ctrl.selectTab('chart')">CHART</md-button>
    <md-button ng-click="$ctrl.selectTab('companyDetails')">COMPANY DETAILS</md-button>
  </layout>
</layout>

<section class="graphs-container">
  <div
    ng-show="$ctrl.state.selectedTab === 'graph'"
    graph
    class="svg-container graph-container"
    stocks="$ctrl.state.stocksToDisplay">
  </div>

   <!-- <div class="svg-container" chart stocks="$ctrl.state.stocksToDisplay">
  </div> -->

  <company-details ng-show="$ctrl.state.selectedTab === 'companyDetails'"></company-details>
</section>
