
<div class="overlay" ng-show="$ctrl.state.showModal">
  <add-stock
    ng-show="$ctrl.state.showModal"
    cancel="$ctrl.cancel();"
    on-add-stock="$ctrl.addStock($event)"></add-stock>
</div>

<div class="overlay" ng-show="$ctrl.state.showDateWarning">
  <div class="modal date-warn">
    <h4 class="warn">Please provide valid date. Date from must be lower than Date to.</h4>
    <md-button ng-click="$ctrl.state.showDateWarning = false">Dismiss</md-button>
  </div>
</div>


<layout layout="column" layout-align="center center">
    <md-input-container>
    <label>Select stock</label>
    <md-select ng-change="$ctrl.onStockSelect();" ng-model="$ctrl.state.selectedSymbol">
      <md-option ng-value="stock" ng-repeat="stock in $ctrl.state.stockSymbols">{{ stock }}</md-option>
    </md-select>
    </md-input-container>
    <md-button ng-click="$ctrl.showAddStock();"> Add New Stock </md-button>


  <layout layout="row" layout-align="center center">

      <md-input-container>
      <label>Date From</label>
      <md-datepicker
        md-min-date="$ctrl.state.date.minDate"
        md-max-date="$ctrl.state.date.maxDate"
        ng-model="$ctrl.state.date.from"
        ng-change="$ctrl.onDateChange();">
      </md-datepicker>
      </md-input-container>

    <md-input-container>

    <label>Date to</label>
    <md-datepicker
      md-min-date="$ctrl.state.date.minDate"
      md-max-date="$ctrl.state.date.maxDate"
      ng-model="$ctrl.state.date.to"
      ng-change="$ctrl.onDateChange();">
    </md-datepicker>

    </md-input-container>

  </layout>

  <layout max-width="100%" align>
    <md-button
      ng-class="{'md-primary': $ctrl.state.selectedTab === 'graph' }"
      ng-click="$ctrl.selectTab('graph')">GRAPH</md-button>
    <md-button
      ng-class="{'md-primary': $ctrl.state.selectedTab === 'chart' }"
      ng-click="$ctrl.selectTab('chart')">CHART</md-button>
    <md-button
      ng-class="{'md-primary': $ctrl.state.selectedTab === 'companyDetails' }"
      ng-click="$ctrl.selectTab('companyDetails')">COMPANY DETAILS</md-button>
      <md-button
        ng-show="$ctrl.state.clickedStock"
        ng-class="{'md-primary': $ctrl.state.selectedTab === 'companyDetails' }"
        ng-click="$ctrl.selectTab('table')">STOCK TABLE</md-button>
  </layout>
</layout>

<section class="d3-container" ng-if="($ctrl.state.stocksToDisplay && $ctrl.state.d3IsReady)">
  <div
    graph
    ng-class="{ 'hide-svg': $ctrl.state.selectedTab !== 'graph' }"
    class="svg-container graph"
    stocks="$ctrl.state.stocksToDisplay">
  </div>

   <div
     chart
     adjust-date="$ctrl.adjustDate(date)"
     on-stock-click="$ctrl.onStockClick(stock)"
     ng-class="{ 'hide-svg': $ctrl.state.selectedTab !== 'chart' }"
     class="svg-container chart"
     stocks="$ctrl.state.stocksToDisplay">
  </div>

  <company-details
    company="$ctrl.state.selectedSymbol"
    company-stocks="$ctrl.state.stocksToDisplay"
    ng-show="$ctrl.state.selectedTab === 'companyDetails'">
  </company-details>
  <table-stock
    remove="$ctrl.removeStock();"
    stock="$ctrl.state.clickedStock"
    ng-show="$ctrl.state.selectedTab === 'table' ">
  </table-stock>
</section>
